name: Publish Docker Image

on:
  push:
    branches: [ master ]
  workflow_dispatch:
        
jobs:

  build:
    if: "!contains(github.event.head_commit.message, 'skip ci')"
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    
    steps:
      - name: Check out
        uses: actions/checkout@v3
          
      - name: Login to GHCR
        uses: docker/login-action@v2.1.0
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GHCR_PASSWORD }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
          
      - name: Build image
        uses: docker/setup-buildx-action@v2
        working-directory: .
        run: docker buildx build . --file Dockerfile --platform linux/amd64,linux/arm64,linux/arm/v7,linux/arm/v8 --tag ghcr.io/csaba2001/nexofox-test:latest

      - name: Push image
        run: docker push ghcr.io/csaba2001/nexofox-test:latest