name: Publish Docker Image

on:
  push:
    branches: [ master ]
  workflow_dispatch:
        
jobs:

  build:
    if: "!contains(github.event.head_commit.message, 'skip ci')"
    runs-on: ubuntu-latest
    
    steps:
      - name: Check out
        uses: actions/checkout@v2
        
      - name: Docker meta
        id: docker_meta
        uses: crazy-max/ghaction-docker-meta@v1
        with:
          images: ghcr.io/Csaba2001/nexofox-test
          tag-latest: true
          
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
        
      - name: Login to GHCR
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GHCR_PASSWORD }}
          
      - name: Build image
        uses: docker/build-push-action@v2
        with:
          tags: latest
          platforms: linux/amd64
          file: ./Dockerfile
          
      - name: Push image
        uses: docker/build-push-action@v2
        with:
          push: true
          tags: csaba2001/nexofox-test:latest
          file: ./Dockerfile
